/*
 Theme Name: Bisylms
 Theme URI: 
 Author: Mosharof
 Author URI: 
 Description: Bisylms - Education HTML5 Responsive Template
 Version: 1.0
 License:
 License URI:
 */

/*------------------------------------------------------
/  All Preset Css
/------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html, body{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    letter-spacing: 0;
    font-weight: 400;
    word-break: break-word;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    color: #2c234d;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 15px;
    line-height: 1.2;
}
a{
    color: #2c234d;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
a:hover{
    color: #5838fc;
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-shadow: none;
    box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/*---- Common Btn ----*/
.bisylms-btn{
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #8536f5;
    height: 50px;
    padding: 20px 35px;
    text-align: center;
    display: inline-block;
    line-height: .8;
    letter-spacing: 0;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bisylms-btn:hover {
    color: #fff;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(26, 8, 119, 0.24);
    -moz-box-shadow:    0px 20px 30px 0px rgba(26, 8, 119, 0.24);
    box-shadow:         0px 20px 30px 0px rgba(26, 8, 119, 0.24);
}
.bisylms-btn-2{
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #fe7c54;
    background: rgba(254, 124, 84, .1);
    height: 50px;
    padding: 20px 35px;
    text-align: center;
    display: inline-block;
    line-height: .8;
    letter-spacing: 0;
    position: relative;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bisylms-btn-2:hover {
    color: #fff;
    background: #fe7c54;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(120, 34, 8, 0.20);
    -moz-box-shadow:    0px 20px 30px 0px rgba(120, 34, 8, 0.20);
    box-shadow:         0px 20px 30px 0px rgba(120, 34, 8, 0.20);
}
.bisylms-btn-3{
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #3fb65f;
    background: rgba(63, 182, 95, .1);
    height: 50px;
    padding: 20px 35px;
    text-align: center;
    display: inline-block;
    line-height: .8;
    letter-spacing: 0;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bisylms-btn-3:hover {
    color: #fff;
    background: #3fb65f;
    -webkit-box-shadow: 0px 14px 20px 0px rgba(8, 120, 38, 0.24);
    -moz-box-shadow:    0px 14px 20px 0px rgba(8, 120, 38, 0.24);
    box-shadow:         0px 14px 20px 0px rgba(8, 120, 38, 0.24);
}
button:focus,
button:hover{
    outline: none;
    border: none;
}
.overlay-anim::before {
    background: rgba(255, 255, 255, 0.2);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
    pointer-events: none;
    transition: all 500ms linear;
}
.overlay-anim:hover::before {
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 500ms linear;
}
.overlay-anim::after {
    background: rgba(255, 255, 255, 0.2);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 1;
    pointer-events: none;
    transition: all 600ms linear;
}
.overlay-anim:hover::after {
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 600ms linear;
}
.read-more-btn{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(35, 47, 62, 0.65);
    letter-spacing: 1.68px;
    margin: 15px 0 0;
}
.read-more-btn:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    content: '';
    transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    background: rgba(0, 0, 0, .4);
}
.read-more-btn:hover:after {
    width: 0%;
    left: auto;
    right: 0;
}
@-webkit-keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
    }

    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
    }

    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}
@-webkit-keyframes animationFramesTwo {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
    }

    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
    }

    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
    }

    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
}
@keyframes animationFramesThree {
    0% {
        transform: translate(165px, -179px);
    }

    100% {
        transform: translate(-346px, 617px);
    }
}
@keyframes waveBtn {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .3)
    }
    50% {
        box-shadow: 0 0 0 40px transparent
    }
    100% {
        box-shadow: 0 0 0 0 transparent
    }
}

/*---- Section Title ----*/
.sub-title{
    font-size: 16px;
    color: #14212b;
    line-height: 20px;
    font-weight: 700;
    margin: 0 0 16px;
}
.sec-title{
    font-size: 34px;
    line-height: 44px;
    color: #2c234d;
    margin: 0 0 61px;
    position: relative;
}
.sec-title span{
    display: block;
    font-weight: 400;
}
.sec-title.white{
    color: #fff;
}
.mb-15{
    margin-bottom: 15px;
}
.sec-desc{
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 73px;
}

/*---- Section Padding ----*/
.noPadding{
    padding: 0;
}
.noPaddingLeft{
    padding-left: 0;
}
.noPaddingRight{
    padding-right: 0;
}
.noPaddingTop{
    padding-top: 0;
}
.mt-120{
    margin-top: 90px;
}
svg g path{
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
