/*
 Theme Name: Bisylms
 Theme URI: 
 Author: Mosharof
 Author URI: 
 Description: Bisylms - Education HTML5 Responsive Template
 Version: 1.0
 License:
 License URI:
 */
/*=======================================================================
[Table of contents]
=========================================================================

1. Responsive For Extra large Device 2
2. Desktop Device
3. Responsive For Tab Device
4. Responsive For Mobile & Tab
5. Responsive For Mobile Device
*/


/*------------------------------------------------------------------------------------
/ 1. Responsive For Extra large Device 2
--------------------------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1600px){
	/*--- Home  ---*/
	.hero-banner-1{
		padding-top: 130px;
	}
    .banner-thumb img{
    	max-width: 100%;
    	height: auto;
    }
    .hero-slider.owl-carousel .owl-nav button{
    	right: 30px;
    }
    .hero-slider.owl-carousel .owl-nav button.owl-prev{
    	left: 30px;
    }
    .app-img{
    	margin-right: 115px;
    }
    .app-img img:last-child{
    	right: -200px;
    }
    .header-03{
    	padding: 0 15px;
    }
    .header-03 .navbar-expand-lg .navbar-collapse{
    	padding-left: 40px;
    }
    .hero-banner-2{
		padding-top: 140px;
	}
	.hero-banner-2 .hero-content{
		padding-top: 50px;
	}
    .hero-banner-2 .banner-thumb{
    	margin-left: -90px;
    }
}
@media (min-width: 1200px){
	.container, 
	.container-sm, 
	.container-md, 
	.container-lg, 
	.container-xl{
		max-width: 1170px;
	}
	
}
/*------------------------------------------------------------------------------------
/ 2. Desktop Device
/--------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px){
	

	.navbar-expand-lg .navbar-nav li:nth-last-child(1) > .sub-menu li .sub-menu, 
	.navbar-expand-lg .navbar-nav li:nth-last-child(2) > .sub-menu li .sub-menu, 
	.navbar-expand-lg .navbar-nav li:nth-last-child(3) > .sub-menu li .sub-menu{
		left: auto;
    	right: 110%;
	}
	.navbar-expand-lg .navbar-nav li:nth-last-child(1) > .sub-menu li:hover .sub-menu, 
	.navbar-expand-lg .navbar-nav li:nth-last-child(2) > .sub-menu li:hover .sub-menu, 
	.navbar-expand-lg .navbar-nav li:nth-last-child(3) > .sub-menu li:hover .sub-menu{
    	right: 100%;
	}
	.banner-thumb img{
		max-width: 100%;
	}
	.hero-banner-1{
		padding-top: 165px;
	}
	.hero-content{
		padding: 0;
	}
	.hero-content h2{
		font-size: 40px;
		line-height: 55px;
	}
	.course-item-1{
		margin-right: 20px;
	}
	.ab-thumb{
		margin-right: 0;
	}
	.ab-content{
		padding: 0;
	}
	.back, .front{
		padding-right: 30px;
		padding-left: 30px;
	}
	.pack-details{
		padding-left: 150px;
	}
	.bp-meta a{
		margin-right: 12px;
		font-size: 13px;
	}
	.b-post-details{
		padding-right: 20px;
		padding-left: 20px;
	}
	.cta-wrapper{
		padding-right: 30px;
		padding-left: 30px;
	}
	.cta-wrapper h3{
		margin-left: 0;
	}
	.hero-banner-2 .banner-thumb {
	    margin-left: -15px;
	    margin-right: 0;
	}
	.hero-banner-2 .hero-content{
		padding: 0;
	}
	.cta-mailchimp{
		padding-right: 30px;
		padding-left: 30px;
	}
	.cta-mailchimp h3{
		font-size: 30px;
	}
	.popular-course-section-2 .ab-thumb {
	    margin-top: 70px;
	}
	.feature-course-item-2{
		padding-right: 30px;
		padding-left: 30px;
	}
	.funfact-item{
		margin-right: 10px;
	}
	.catecories-box,
	.header-03 .search-box{
		display: none;
	}
	.app-img{
		margin-top: 50px;
	}
	.app-img img:last-child {
	    display: none;
	}
	.feature-item{
		min-height: 330px;
	}
	.ml-15,
	.ml-40 {
	    margin-left: 0px;
	}
	.registration-form h4{
		font-size: 21px;
	}
	.course-details{
		padding-left: 70px;
		padding-right: 70px;
	}
	.course-details .author {
	    margin-bottom: 56px;
	}
	.header-03{
		padding-right: 15px;
		padding-left: 15px;
	}
	.header-03 .navbar-expand-lg .navbar-collapse{
		padding-left: 0;
		justify-content: center;
	}
	.slider-content{
		padding: 0 60px;
	}
	.hero-slider.owl-carousel .owl-nav button{
		right: 30px;
	}
	.hero-slider.owl-carousel .owl-nav button.owl-prev{
		left: 30px;
	}
	.contact--info-area{
		margin-right: 0;
	}
	.contact-form{
		padding-left: 40px;
		padding-right: 40px;
	}
	.content-404 h2{
		margin-top: 40px;
	}
	.content-404 p{
		margin-bottom: 30px;
	}
	.blog-sidebar{
		margin: 0;
	}
	.blog-sidebar .widget{
		padding-left: 20px;
		padding-right: 20px;
	}
	.comment-list .children{
		padding-left: 50px;
	}
	.feature-course-item-4 .price-rate .course-price{
		font-size: 18px;
	}
	.teacher-profile .ab-social a{
		margin-bottom: 6px;
	}
	.result-table thead tr th,
	.result-table tbody tr td{
		padding-left: 20px;
		padding-right: 15px;
	}
	.course-item-3 .price-rate{
		width: calc(100% + 140px);
    	left: -70px;
    	padding: 18px 70px 15px;
	}
	.course-sidebar .widget.widget-filter,
	.course-sidebar .widget{
		padding-left: 20px;
		padding-right: 15px;
	}
	.course-item-4 .ci-thumb img{
		width: 380px;
	}
	.course-item-4 .course-details {
	    padding: 40px 40px 0;
	}
	.hero-banner-2{
		padding-bottom: 100px;
	}
	.appstore-section .bisylms-btn-3:last-child{
		margin-left: 5px;
	}
	.appstore-section .bisylms-btn-3{
		padding: 13px 24px;
	}

	.navbar-expand-lg .navbar-nav li {
		margin: 0 20px 0 0;
	}
	.shaf-filter li {
		font-size: 14px;
		margin-left: 15px;
	}


}
/*------------------------------------------------------------------------------------
/ 3. Responsive For Tab Device
/--------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px){
	.course-wrapper{
		display: block;
	}
	.course-item-1{
		width: 30.3333%;
		min-height: 250px;
	    display: inline-block;
	    float: left;
	    margin-right: 30px;
	}
	.course-item-1:nth-child(3){
		margin-right: 0;
	}
	.ab-content{
		padding: 0;
	}
	.shaf-filter li{
		margin-left: 25px;
	}
	.pack-thumb > img{
		height: 400px;
		width: 315px;
	}
	.pack-details{
		padding: 25px 15px 20px 100px;
	}
	.pack-details p {
	    margin-bottom: 25px;
	}
	.bp-meta a{
		margin-right: 17px;
	}
	.cta-wrapper{
		padding-right: 20px;
		padding-left: 20px;
	}
	.cta-wrapper .bisylms-btn{
		padding: 20px 10px;
    	min-width: 150px;
	}
	.cta-wrapper h3 {
	    font-size: 26px;
	    line-height: 38px;
	    margin: 52px 20px 0 25px;
	    width: 48%;
	}
	.app-img img:last-child {
	    right: -200px;
	}
	.app-img {
		margin-top: 40px;
	    margin-right: 190px;
	}
	.registration-form{
		padding-right: 20px;
		padding-left: 20px;
	}
	.countdown .countdown-section{
		margin-bottom: 10px;
	}
	.registration-form h4{
		font-size: 22px;
	}
	.ci-thumb img,
	.popular-course-slider .ci-thumb img{
		height: 350px;
		width: 295px;
	}
	.course-details{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 30px;
	}
	.course-details p {
	    margin-bottom: 20px;
	    font-size: 15px;
	}
	.course-details .author {
	    margin-bottom: 39px;
	}
	.header-03 .join-btn{
		display: none;
	}
	.header-03 .navbar.navbar-expand-lg .navbar-toggler{
		right: 10%;
	}
	.header-03 .user-btn{
		right: 0;
	}
	.header-03 .search-box {
	    margin-right: 22%;
	}
	.course-item-3 .price-rate{
		width: calc(100% + 40px);
    	left: -20px;
    	padding: 18px 20px 15px;
	}
	.toolbar-wrapper-2 .search-box{
		width: 220px;
	}
	.toolbar-wrapper-2 .sorting {
	    right: 240px;
	}
	.hero-banner-2{
		padding-bottom: 100px;
	}
	.ab-thumb {
	    margin: 90px 0 0;
	}
	.hero-banner-1 {
	    background-position: 56% 100%;
	}
}
/*------------------------------------------------------------------------------------
/ 4. Responsive For Mobile & Tab
/--------------------------------------------------------------------------------------*/
@media (max-width: 991px){
    /*--- Mobile Menu ---*/
    .navbar.navbar-expand-lg{
    	padding: 0 0 0 0;
    	margin: 0 0;
    }
    .navbar-expand-lg .navbar-nav{
    	padding: 5px 0;
    }
    .navbar.navbar-expand-lg .navbar-toggler {
	    width: 40px;
	    height: 35px;
	    padding: 1px;
	    outline: none;
	    border-radius: 3px;
	    color: #2c234d;
	    background: #fff;
	    border: none;
	    font-size: 20px;
	    line-height: 34px;
	}
	.navbar.navbar-expand-lg .navbar-collapse {
	    position: absolute;
	    left: 0;
	    top: 100%;
	    width: 100%;
	    background: #fff;
	    border-radius: 0;
	    z-index: 99;
	    -webkit-box-shadow: 0px 6px 10px 0px rgba(11, 02, 55, 0.06);
	    -moz-box-shadow: 	0px 6px 10px 0px rgba(11, 02, 55, 0.06);
	    box-shadow: 		0px 6px 10px 0px rgba(11, 02, 55, 0.06);
	}
	.navbar-expand-lg .navbar-nav li a{
		padding: 0 20px;
		font-size: 14px;
	    color: #5d5a67;
	    width: 100%;
		line-height: 45px;
	}
	.navbar-expand-lg .navbar-nav li{
		margin: 0;
		border-bottom: 1px solid rgba(35, 47, 62, 0.07);
	}
	.navbar-expand-lg .navbar-nav li:last-child{
		border: none;
	}
	.navbar-expand-lg .navbar-nav li.menu-item-has-children > a::after{
		display: none;
	}
	.submenu-toggler{
		display: block;
	    color: #5d5a67;
	    font-size: 14px;
	    position: absolute;
	    right: 20px;
	    margin: 0;
	    top: 0;
	    line-height: 40px;
	}
	.navbar-expand-lg .navbar-nav li .sub-menu{
		position: relative;
	    visibility: visible;
	    opacity: 1;
	    width: 100%;
	    background: rgba(35, 47, 62, 0.05);
	    left: 0;
	    top: 0;
	    padding: 0;
	    display: none;
	    transform: none;
	    transition: none;
	    box-shadow: none;
	    transition: none;
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li:hover > a {
	    color: #febd69;
	    background: transparent;
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li{
		border-color: rgba(35, 47, 62, 0.07);
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li a{
		padding-left: 30px;
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li:last-child{
		border: none;
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li:hover{
		border-color: rgba(35, 47, 62, 0.07);
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li .sub-menu {
	    position: relative;
	    left: 0;
	    right: auto;
	    top: 0;
	    visibility: visible;
	    opacity: 1;
	    transition: none;
	    display: none;
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li:hover .sub-menu {
	    visibility: visible;
	    opacity: 1;
	    left: 0;
	}
	.navbar-expand-lg .navbar-nav li .sub-menu li .sub-menu li a{
		padding-left: 40px;
	}
	.banner-thumb img{
		max-width: 100%;
	}
	.event-item-1{
		padding-left: 100px;
		padding-right: 20px;
	}
	.e-date{
		left: 22px;
	}
	.hero-banner-1{
		padding: 150px 0;
		height: auto;
	}
	.hero-content{
		padding: 20px 0 40px;
	}
	.hero-content h2{
		margin: 0 0 20px;
		font-size: 34px;
		line-height: 44px;
	}
	.hero-content p{
		line-height: 25px;
	    margin-bottom: 25px;
	    font-size: 15px;
	}
	.about-widget{
		padding-right: 0;
	}
	.ab-social a{
		margin-bottom: 8px;
	}
	.user-btn{
		right: 23%;
		position: absolute;
	}
	.navbar.navbar-expand-lg .navbar-toggler{
		right: 32%;
		position: absolute;
	}
	.header-02 .navbar.navbar-expand-lg .navbar-toggler{
		right: 43%;
		background: #f1f0f5;
	}
	.hero-banner-2 .banner-thumb {
	    margin-left: -30px;
	    margin-right: 0;
	}
	.hero-banner-2 .hero-content{
		padding-top: 0;
	}
	.hero-banner-2 .hero-content h2{
		color: #2c234d;
	}
	.hero-banner-2 .hero-content p{
		color: #5d5a67;
	}
	.testimonial-item{
		padding-left: 30px;
		padding-right: 30px;
	}
	.client-logo a{
		width: 50%;
		margin-bottom: 30px;
	}
	.cta-mailchimp{
		padding-left: 20px;
		padding-right: 20px;
	}
	.cta-mailchimp input[type="submit"]{
		padding: 0 30px;
	}
	.cta-mailchimp h3{
		font-size: 24px;
		line-height: 35px;
	}
	.funfact-item-3{
		margin: 0 0 30px;
		float: none;
	}
	.header-03{
		padding: 0;
	}
	.header-03 .navbar.navbar-expand-lg .navbar-toggler{
		background: #f1f0f5;
	}
	.header-03 .navbar-expand-lg .navbar-collapse{
		padding: 0;
	}
	.hero-slider.owl-carousel .owl-nav button{
		right: 10px;
	}
	.hero-slider.owl-carousel .owl-nav button.owl-prev{
		left: 10px;
	}
	.feature-item{
		padding-left: 30px;
		padding-right: 20px;
		margin-bottom: 30px;
	}
	.feature-item img{
		position: relative;
		left: 0;
		top: -10px;
	}
	.slider-content{
		padding: 0 30px;
	}
	.contact--info-area{
		margin: 0 0 50px;
	}
	.contact-form{
		padding-left: 20px;
		padding-right: 20px;
	}
	.content-404 h2{
		margin-top: 40px;
		font-size: 40px;
	}
	.content-404 p{
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.blog-sidebar{
		margin: 0;
	}
	.blog-sidebar .widget{
		padding-left: 20px;
		padding-right: 20px;
	}
	.post-admin{
		padding-left: 100px;
		padding-right: 15px;
	}
	.comment-list .children{
		padding-left: 20px;
	}
	.post-admin img{
		left: 15px;
	}
	.result-table thead tr th,
	.result-table tbody tr td{
		padding-left: 20px;
		padding-right: 15px;
	}
	.course-sidebar{
		margin: 50px 0 0;
	}
	.course-item-4 .ci-thumb img{
		width: 380px;
	}
	.course-item-4 .course-details {
	    padding: 40px 40px 0;
	}
}
/*------------------------------------------------------------------------------------
/ 5. Responsive For Mobile Device
--------------------------------------------------------------------------------------*/
@media (max-width: 767px){

	
	.ab-thumb{
		margin: 0;
	}
	.hero-content h2{
		color: #fff;
	}
	.hero-content p{
		color: #fff;
	}
	.pack-slider.slick-slider{
		box-shadow: none;
	}
	.pack-slider.slick-slider:after{
		bottom: -39px;
	}
	.pack-meta{
		margin-bottom: 18px;
	}
	.pack-slider.slick-slider .package-item{
		display: block !important;
		margin-top: -30px;
	}
	.pack-details p{
		margin-bottom: 20px;
	}
	.pack-details{
		margin-bottom: 40px;
	}
	.course-top{
		padding-right: 0;
	}
	.course-top .course-price{
		position: relative;
		display: inline-block;
		margin-top: 30px;
	}
	.course-meta{
		display: block;
		justify-content: center;
	}
	.categories {
		border-left: none;
		border-right: 0;
	    border-bottom: 1px solid #c3c2c8;
	    border-top: 1px solid #c3c2c8;
	    padding: 20px 0;
	    margin: 20px 0;
	}
	.course-item-4 .ci-thumb img{
		width: 100%;
		height: auto;
	}
	.course-item-4{
		display: inline-block;
	}
	.course-item-4 .course-details {
	    padding: 40px 20px 0;
	}
	.course-tab-btn{
		display: block;
	}
	.course-tab-btn li{
		width: 100%;
	}
	.course-tab-btn li a.active, .course-tab-btn li a:hover{
		border-bottom: 1px solid #5838fc;
	}
	.reating-details{
		display: block;
	}
	.average-rate {
	    width: 200px;
	}
	.details-rate{
		width: 100%;
		margin: 30px 0 0;
	}
	.single-comment .ratings{
		position: relative;
	}
	.ci-item{
		/* display: block; */
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.ci-tools{
		text-align: left;
		margin: 10px 0 0;
	}
	.ci-tools a{
		margin-left: 0;
		margin-right: 5px;
	}
	.curriculum-item h5 button:after{
		right: 15px;
	}
	.course-tab-wrapper .tab-content{
		padding-left: 20px;
		padding-right: 20px;
	}
	.teacher-item-3{
		padding-left: 0;
	}
	.teacher-item-3 .teacher-thumb{
		position: relative;
		width: 100%;
		height: auto;
	}
	.toolbar-wrapper-2{
		display: block;
	}
	.toolbar-wrapper-2 .sorting{
		position: relative;
		right: 0;
		margin: 15px 0;
	}
	.result-table thead tr th{
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.result-table tbody tr td{
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.post-tags{
		display: block;
	}
	.post-tags h5{
		margin-bottom: 10px;
	}
	.post-tags a{
		margin-top: 10px;
	}
	.single-p-banner .banner-title{
		line-height: 40px;
	}
	.blog-sidebar{
		margin: 50px 0 0;
	}
	.b-post-details{
		padding-left: 20px;
		padding-right: 20px;
	}
	.bp-meta a{
		margin-right: 15px;
		font-size: 13px;
	}
	.content-404 ul li{
		display: block;
		margin-top: 10px;
	}
	.contact-form .text-right{
		text-align: left !important;
		margin-top: 30px;
	}
	.feature-course-section-3 .sec-desc {
	    margin-top: 0;
	}
	.registration-form h4{
		font-size: 19px;
	}
	.registration-form{
		padding-right: 20px;
		padding-left: 20px;
		margin-top: 40px;
	}
	.countdown .countdown-section{
		margin-bottom: 10px;
	}
	.course-item-3 .price-rate{
		width: calc(100% + 40px);
    	left: -20px;
    	padding-left: 20px;
		padding-right: 20px;
		display: block;
	    text-align: center;
	    justify-content: center;
	}
	.course-item-3  .price-rate .course-price{
		display: block;
		justify-content: center;
	}
	.course-details{
		padding-left: 20px;
		padding-right: 20px;
	}
	.ci-thumb img,
	.popular-course-slider .ci-thumb img{
		height: auto;
		width: 100%;
		border-radius: 15px;
	}
	.course-item-3{
		display: block;
	}
	.feature-section{
		margin-top: -60px;
	}
	.slider-content h3{
		font-size: 30px;
		line-height: 40px;
	}
	footer .widget{
		margin-top: 20px;
	}
	.navbar.navbar-expand-lg .navbar-toggler{
		position: absolute;
		right: 2px;
	}
	.join-btn{
		display: none;
	}
	.course-wrapper{
		display: block;
	}
	.package-item{
		display: block;
	}
	.pack-thumb > img{
		width: 100%;
	}
	.pack-middle{
		right: 0;
		left: 0;
		bottom: -90%;
		margin: auto;
	}
	.pack-details{
		padding-top: 90px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cta-wrapper{
		text-align: center;
		display: block;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cta-wrapper h3{
		font-size: 30px;
		margin: 20px 0;
		width: 100%;
	}
	.cta-wrapper .bisylms-btn {
	    margin-top: 20px;
	}
	.hero-banner-1{
		padding: 120px 0;
		height: auto;
	}
	.popular-course-section .read-more{
		float: left;
		margin: -30px 0 50px;
	}
	.shaf-filter{
		text-align: left;
		margin: -30px 0 50px;
	}
	.catecories-box,
	.search-box{
		display: none;
	}
	.header-02 .navbar.navbar-expand-lg .navbar-toggler{
		right: 0;
	}
	.topbar .bisylms-btn-2{
		display: none;
	}
	.topinfo{
		padding-bottom: 18px;
	}
	.topinfo p{
		display: block;
		font-size: 12px;
		padding: 0 20px 0 0;
	}
	.topinfo p:after{
		display: none;
	}
	.topinfo p i{
		margin-right: 6px;
	}
	.hero-banner-2{
		height: auto;
		padding-top: 170px;
	}
	.hero-banner-2 .banner-thumb {
	    margin-left: 0;
	    margin-right: 0;
	}
	.hero-banner-2 .hero-content {
	    padding-top: 25px;
	}
	.fact-wrapper{
		display: block;
	}
	.funfact-item{
		margin: 0 0 20px;
	}
	.feature-course-section-2 .bisylms-btn-2{
		float: left;
		margin: -30px 0 50px;
	}
	.pricing-item,
	.feature-course-item-2{
		padding-left: 25px;
		padding-right: 25px;
	}
	.testimonial-item,
	.funfact-item-2{
		margin-bottom: 30px;
	}
	.client-logo{
		margin: 50px 0 0;
	}
	.cta-mailchimp input[type="submit"] {
	    padding: 0 15px;
	}
	.app-img{
		text-align: center;
		margin-top: 40px;
	}
	.app-img img:last-child{
		position: relative;
		right: auto;
		margin: 30px 0 0;
	}
	.user-btn{
		right: 0;
		position: relative;
	}
	.hero-banner-1{
		overflow: hidden;
	}
	.banner-title{
		font-size: 30px;
	}
	.course-filter{
		margin: 0 0 53px;
	}
	.toolbar-wrapper{
		display: block;
		text-align: center;
	}
	.cta-section-2 .sec-title{
		font-size: 30px;
		line-height: 44px;
	}
	.hero-slider .bg-img{
		height: 650px;
	}
	.appstore-section .bisylms-btn-3:last-child{
		margin: 10px 0 0;
	}
	#card-slider {
	    height: 1270px;
	}
	.shaf-filter li {
		margin-left: 17px;
	}
	.package-section {
		padding: 90px 0 0px;
	}
	.header-01 .navbar-brand img {
		visibility: hidden;
		opacity: 0;
	}
	.header-01 .navbar-brand img.sticky-logo {
		visibility: visible;
		left: -9px;
		opacity: 1;
	}
	

}




/*------------------------------------------------------------------------------------
/ 6. Responsive For Mobile Device
--------------------------------------------------------------------------------------*/
@media (max-width: 576px){
	#card-slider {
	    height: 1070px;
	}	
}
