#demoScreen{
    height: 80vh;
}

@media (min-width:1000px)
{
    .buyForMobile{

display: none;
    }
}

@media (orientation:portrait)
{
    #demoScreen{
        height: auto;
    }
}




@media (max-width:850px)
{
    .hideMobView{
display: none;

    }
    .course-details-section{
padding: 0!important;
    }
}

@media(min-width:890px)
{
    .hideDesktop{
        display: none !important;
    }
}

.no-mob-view{
    display: block ;
}

@media (max-width:768px)
{
    .no-mob-view{
        display: none;
    }
}
